<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is a test app created with the help of the 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> 
  by Michael Hartl. This web app was built on top of the sample 
  application from the tutorial.
</p>