<footer class="footer">
  <small>
    Test App 
    by <a href="http://aheadstudios.com">Ahead Studios</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>